.achievements {
  background-color: @bg-grey;
  padding: 0 20px;
}

.achievements__title {
  font-size: 18px;
  text-transform: uppercase;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  color: @pink-text;
}

.achievements__wrapper {
  padding: 24px 0;

  input {
    display: none;
  }

  label {
    font-size: 18px;
    padding-left: 57px;
  }
}