.app {
  padding: 39px 20px 3px;
  background-color: @bg-grey;
}

.app__title {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  color: @pink-text;
  margin: 0;
  padding: 0 20px;
  margin-bottom: 37px;
}

.app__wrapper {
  padding: 7px 0;
  margin-bottom: 41px;

  input {
    display: none;
  }

  label {
    font-size: 18px;
    padding-left: 70px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 37px;
      height: 37px;
      top: -8px;
      left: 0;
      border-radius: 50%;
      background: #ffffff;
      border: 2px solid @light-grey;
    }

    &:hover,
    &:focus {
      &::before {
        border: 2px solid @text-color;
      }
    }

    &:active {
      &::before {
        border: 2px solid @pink-text;
      }
    }
  }

  input[type="radio"]:checked + label {
    &::after {
      content: "";
      position: absolute;
      width: 15px;
      height: 15px;
      top: 5px;
      left: 13px;
      border-radius: 50%;
      background: @pink-text;
    }
  }
}

@media (min-width: @tablet) {
  .app {
    order: 0;
    background-color: transparent;
    border: 2px solid @light-grey;
    border-radius: 3px;
    position: relative;
    padding: 55px 58px 15px;
    margin-bottom: 65px;
  }

  .app__title {
    position: absolute;
    top: -9px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #ffffff;
    z-index: 2;
    padding: 0;
    margin: 0;
    min-width: 60%;
  }

  .app__wrapper {
    label {
      padding-left: 61px;
    }
  }
}

@media (min-width: @desktop) {
  .app {
    width: 46.3%;
    box-sizing: border-box;
    padding: 56px 72px 42px;
  }

  .app__wrapper {
    margin-bottom: 42px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .app__title {
    min-width: 85%;
  }
}
