.container {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: @tablet) {
  .container-centred {
    max-width: @tablet;
    margin: 0 auto;
  }
}

@media (min-width: @desktop) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .container-centred {
    max-width: @desktop;
  }
}
