.filter {
  display: flex;
  flex-direction: column;

  &:first-child {
    .filter__wrapper {
      display: flex;
    }
  }
}

.filter__icon {
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;
  opacity: 0.3;

  svg {
    fill: @pink-text;
  }

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.filter__icon--active {
  opacity: 1;
}

.filter__wrapper {
  padding: 20px;
  display: none;
  position: absolute;
  top: 66px;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}

.filter__rangeline {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  height: 2px;
  background-color: @text-color;
}

.filter__pin {
  position: absolute;
  width: 14px;
  height: 14px;
  left: 80%;
  top: -6px;

  background: #ffffff;
  border: 2px solid @pink-text;
  box-sizing: border-box;
  border-radius: 50%;
  z-index: 2;

  &:active {
    background-color: @pink-text;
  }
}

@media (min-width: @tablet) {
  .filter {
    flex-direction: row;
    align-items: center;
    padding: 0 3px 13px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(40, 54, 69, 0.1);
  }

  .filter__icon {
    width: 24px;
    height: 24px;
    opacity: 1;
  }

  .filter__icon--crop {
    svg {
      width: 22px;
      height: 22px;
      fill: @pink-text;
    }
  }

  .filter__icon--fill {
    padding-top: 4px;

    svg {
      width: 24px;
      height: 22px;
    }
  }

  .filter__icon--contrast {
    padding-left: 3px;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  .filter__wrapper {
    position: relative;
    display: flex;
    top: 0;
    left: 0;
    padding: 20px 15px 20px 28px;
  }
}

@media (min-width: @desktop) {
  .filter {
    padding: 0 0 12px;
    margin-bottom: 14px;

    &:last-child {
      border: none;
    }
  }

  .filter__icon {
    width: 50px;
    height: 44px;

    svg {
      position: relative;
      width: auto;
      height: auto;
    }
  }

  .filter__icon--crop {
    svg {
      top: -2px;
      fill: @pink-text;
    }
  }

  .filter__icon--fill {
    padding-top: 0;
  }

  .filter__icon--contrast {
    padding-left: 0;

    svg {
      left: 6px;
    }
  }

  .filter__wrapper {
    padding: 18px 29px 20px 45px;
  }
}
