.presentation {
  padding: 0 20px 18px;
}

.presentation__wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

@media (min-width: @tablet) {
  .presentation {
    order: 0;
    padding: 0 0 14px;
  }

  .presentation__wrapper {
    flex-direction: row;
    align-items: baseline;
    width: 100%;
    margin-bottom: 53px;
  }
}

@media (min-width: @desktop) {
  .presentation {
    width: 46.3%;
    box-sizing: border-box;
    padding-top: 8px;
    padding-bottom: 11px;
  }
  .presentation__wrapper {
    margin-bottom: 54px;
  }
}
