.reviews {
  position: relative;
  display: flex;
  padding: 46px 20px 0;
  margin-top: -44px;
  background-color: white;
}

.reviews__item--hidden {
  display: none;
}

.reviews__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__item {
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
}

.reviews__button {
  display: none;
}

.reviews__author-name {
  font-size: 18px;
  font-weight: @bold;
  font-style: normal;
}

.reviews__author-about {
  display: none;
}

.reviews__text {
  padding: 0;
  margin: 18px 0 15px;
  font-size: 14px;
  line-height: 30px;
}

@media (min-width: @tablet) {
  .reviews {
    margin-top: 0;
    padding-top: 4px;
  }

  .reviews__author-info {
    display: flex;
    flex-direction: column;
  }

  .reviews__author-name {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 6px;
  }

  .reviews__author-about {
    display: block;
    font-size: 14px;
    margin-bottom: 27px;
  }

  .reviews__text {
    font-size: 18px;
    order: -1;
    margin-bottom: 36px;
  }
}

@media (min-width: @desktop) {
  .reviews {
    padding: 167px 130px 0;
    justify-content: space-between;
    background: url("../../img/quotes.webp") top 72px center no-repeat;
  }

  .reviews__list {
    display: flex;
  }

  .reviews__item {
    order: 1;
  }

  .reviews__text {
    padding: 0 65px;
  }

  .reviews__author-about {
    font-size: 18px;
  }

  .reviews__author-name {
    font-size: 24px;
  }

  .reviews__button {
    display: flex;
    box-sizing: border-box;
    padding-top: 45px 0 0 0;
    margin: 0;
    justify-content: center;
    align-items: flex-start;
    background-color: transparent;
    border: none;
    opacity: 0.3;
    outline: none;

    svg {
      fill: @text-color;
    }

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.1;
    }
  }

  .reviews__button--prev {
    order: 0;
  }

  .reviews__button--next {
    order: 2;
  }

  .reviews__toggles {
    display: none;
  }
}
