.site-list {
  padding: 0;
  margin: 0;
  list-style: none;
  color: white;
}

.site-list__item {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background: @menu-bg;
  box-shadow: 0 1px 0 #000000,
    inset 0 1px 0 rgba(255, 255, 255, 0.15);
  margin: 1px 0;

  &:last-child {
    margin-bottom: 0;
  }

  a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    font-style: 18px;

    &:hover {
      color: @pink-text;
    }

    &:active {
      color: white;
      opacity: 0.3;
    }
  }
}

@media (min-width: @desktop) {
  .site-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .site-list__item {
    width: auto;
    padding: 0;
    margin: 0;
    margin-right: 79px;
    border: none;
    background-color: transparent;
    box-shadow: none;

    &:last-child {
      margin-right: 0;
    }

    a {
      font-weight: 400;
      font-size: 18px;
      line-height: 18px;
      display: block;
      width: 100%;
      height: 100%;
      padding: 18px 0 20px;
    }
  }

  .site-list__item--active {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: white;
    }

    a {
      &:hover,
      &:focus,
      &:active {
        color: white;
      }
    }
  }
}
