.user-contacts {
  padding: 39px 20px 18px;
}

.user-contacts__title {
  display: none;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  color: @pink-text;
}

.user-contacts__wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

@media (min-width: @tablet) {
  .user-contacts {
    order: 1;
    background-color: transparent;
    border: 2px solid #E5E5E5;
    border-radius: 3px;
    position: relative;
    padding: 46px 58px 22px;
    margin-bottom: 66px;
  }

  .user-contacts__title {
    display: block;
    position: absolute;
    top: -9px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #fff;
    z-index: 2;
    padding: 0;
    margin: 0;
    min-width: 40%;
  }
  .user-contacts__wrapper {
    flex-direction: column-reverse;

    &:last-child {
      margin-bottom: 0;
    }

    input {
      margin-bottom: 14px;
    }
    label {
      padding-left: 19px;
      margin-bottom: 15px;
    }
  }
}

@media (min-width: @desktop) {

  .user-contacts {
    width: 100%;
    padding: 42px 58px 24px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
  }

  .user-contacts__wrapper {
    width: 46%;
    margin: 0;
    label {
      margin-bottom: 0;
    }
  }
}